<div class="form-group">
 <input name="phone" ng-model="phone" class="form-control" placeholder="Phone Number" required>
 <span ng-show="registerForm.phone.$touched && registerForm.phone.$invalid">Phone is required.</span>
</div> <!-- .form group //-->

<div class="form-group">
 <input name="emailadd" ng-model="emailadd" class="form-control" placeholder="Email Address" required>
 <span ng-show="registerForm.email.$touched && registerForm.email.$invalid">Email is required.</span>
</div> <!-- .form group //-->