<div class="form-group">
 <input name="firstname" ng-model="firstname" class="form-control" placeholder="Firstname" required>
 <span ng-show="registerForm.firstname.$touched && registerForm.firstname.$invalid">Firstname is required.</span>
</div> <!-- .form group //-->

<div class="form-group">
 <input name="lastname" ng-model="lastname" class="form-control" placeholder="Lastname" required>
 <span ng-show="registerForm.firstname.$touched && registerForm.firstname.$invalid">Lastname is required.</span>
</div> <!-- .form group //-->